* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  margin-bottom: 5px;
}

.stats,
.task-form {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.task-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
}

button {
  padding: 10px 16px;
  cursor: pointer;
}

#taskList {
  padding: 0;
}

.task-item {
  list-style: none;
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed strong {
  text-decoration: line-through;
  opacity: 0.5;
}

.task-item button {
  margin-left: 5px;
}